{% extends 'stationery/stat_base.html' %}
{% block content %}

<a href="#"   class="list-group-item active" >
  当前模块：Stock管理->Stock查询
    </a>
<p></p>
<div  class="row">


        <div class="col-sm-12">

<table class="table table-striped table-bordered">
<thead>
           <tr>
             <th>No.</th>
             <th>入库单</th>
               <th>Operator</th>
              <th>日期</th>

               <th>操作</th>
           </tr>
 </thead>
 <tbody>
           {% for pur_history in pur_historys %}
           <tr>
             <td>{{ forloop.counter }}</td>
               <td>{{ pur_history.entryid }}</a></td>
                <td>{{ pur_history.user }}</a></td>
               <td>{{ pur_history.date}}</td>

               <td>
					<a href="purchase_details?entryid={{ pur_history.entryid  }}" > 查看</a>



                </td>
           </tr>
            {% endfor %}
</tbody>
</table>

        </div>
 </div>


<script language="JavaScript">

function testajax(ths){

    var id=$(ths).val();

    $.ajax({
    type: 'GET',
    url: 'ajax_load_stationery',
    dataType: 'json',
    data:{stat_type_id:id},
    success: function(ret){
    //查询成功之后填充select option
    var html = "";

    //用for循环遍历返回结果。
    for(var i=0;i<ret.length;i++){
    var iteam = ret[i];
    var id = iteam.id;

    var name = iteam.name;

    html += "<option value="+iteam.id+">"+iteam.name+"</option>";

}
$("#id_stationery").html(html);
//将新数据填充到option
}
});
}


</script>





{% endblock %}

