{% extends 'stationery/stat_base.html' %}
{% block content %}





<div class="container  " >
    <p></p>
	<div class="row clearfix center-block" >
		<div class="col-md-3 column bg-warning" style="border:1px solid #337ab7">
			<h2>
				当前订单
			</h2>
			<p>
				50
			</p>
			<p>
				 <a class="btn" href="orderlist">View details »</a>
			</p>
		</div>

         <div class="col-md-1 column" >
        </div>


		<div class="col-md-3 column bg-danger " style="border:1px solid #337ab7 ">
			<h2>
				库存预警
			</h2>
			<p>
				50
			</p>
			<p>
				 <a class="btn" href="alert_stat_list">View details »</a>
			</p>
		</div>

        <div class="col-md-1 column" >
        </div>

		<div class="col-md-3 column bg-info" style="border:1px solid #337ab7 ">
			<h2>
				文具种类
			</h2>
			<p>
				50
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>




	</div>
    <P></P>
</div>

<p></p>







{% endblock %}

