<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>文具领用</title>
    <script src="/static/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
   <script src="/static/layer/layer.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body bgcolor="blud">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  href="#">文具领用</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">



          <ul class="nav navbar-nav">
            {% if stat_types %}
           {% for stat_type in stat_types %}
				<li>
					<a href="stat_apply_index1?id={{ stat_type.id }}"   >{{ stat_type.name  }}</a>
				</li>
			 {%  endfor %}
            <li>

              <a href="stat_apply_index1"   >常用文具</a>
              {% endif %}
            </li>
          </ul>


            <ul class="nav navbar-nav navbar-right">
           <li><a href="apply_index">员工姓名: {{  request.session.full_name }}</a></li>
              <li><a ><span  id="cart">购物车(<label id="totalordernum" ><font color="red">0</font></label>)</span></a> </li>
           </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->

      <div class="jumbotron">
      {% block content %}



      {% endblock %}
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

     <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
   <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

  <p align="center"><font color="blue">--文具管理系统 version 1.0--</font></p>

</html>

<script>

$('#cart').on('click', function(){



layer.open({
  type: 2,
  title: '购物车',
  offset:'rt',
  //btn:'Close',
  area: ['350px', '360px'],
  //btnAlign: 'c',
  content: "showcart"
});

})


</script>