<!DOCTYPE html>
<html lang="en">
<head>
  <title>AECOM IT Device Manager Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/jquery-3.3.1.js"></script>
    <script type="text/javascript"></script>
</head>
<body>

<div align="center" >
  <br>
  <br>
  <br>

 <h4> 请选择系统</h4>
    {% ifequal user.adm_info.it_adm 1 %}
    <a href="../deviceman">设备管理</a> --
    {% endifequal %}



    {% ifequal user.adm_info.stat_adm 1 %}
    <a href="../stationery">文具管理</a>--
    {% endifequal %}
 <a href="../admin">后台管理</a>
</div>
</body>