<!DOCTYPE html>
<html lang="en">
<head>
  <title>AECOM IT Device Manager Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/jquery-3.3.1.js"></script>
    <script type="text/javascript"></script>
</head>
<body>

<div align="center" >
  <br>
  <br>
  <br>

 <h4> 请登录系统</h4>
<form action="" method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Login">
  <input type="reset" value="Reset">
 </form>
</div>



</body>